<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <link th:href="@{/css/style.css}" rel="styleSheet">
        <title>TOP</title>
    </head>
    <body>
    <div class="header-contents">
        <h1>匿名掲示板</h1>
    </div>
    <div class="main-contents">
        <a href="/new">
            <button class="new-button" type="button">新規投稿 </button>
        </a>
        <<div class="dates">
            <form th:action="@{/}" th:method="get">
                日付検索<input type="date" name="start_date" th:max="2100/12/31" th:min="2020/01/01" th:value="${start }"/>～<input type="date" name="end_date" th:max="2100/12/31" th:min="2020/01/01" th:value="${end }">
                <input type="submit" value="検索">
            </form>
        </div>
        <div class="message-icon" th:each="content : ${contents}" >
            <div>
                ID : <span th:text="${content.id}"/>
            </div>
            <div class="text">
                投稿 : <span th:text="${content.content}"/>
            </div>
            <div><span th:text="${#dates.format(content.createdDate, 'yyyy/MM/dd HH:mm:ss')}"/></div>
            <div class="delete-button">
                <form th:action="@{/delete/{id}(id=${content.id})}" th:method="delete">
                    <input type="submit" value="削除">
                </form>
            </div>
           <div class="edit-button">
                <a th:href="@{/edit/{id}(id=${content.id})}">
                    <input type="button" value="編集">
                </a>
           </div>
            <div class="comment-button">
                <!--<form>タグを作成して記入された内容をControllerに送る-->
               <form th:method="post" th:action="@{/comment}" th:object="${formModel}">
                   <div class="form-area">
                      <label>返信内容</label>
                       <!--[field]タグの意味は？-->
                       <textarea class="tweet-box" th:field="*{comment}" size="20" maxlength="200" /></textarea><br/>
                       <input name="reportId" th:value="${content.id}" th:type="hidden"/>
                       <input type="submit" value="返信"/>
                   </div>
               </form>
            </div>
            <div class="comment-icon" th:each="comment : ${comments}" th:if="${content.id} == ${comment.reportId}">
                <div class="text">
                    返信 : <span th:text="${comment.comment}"/>
                    <div><span th:text="${#dates.format(comment.createdDate, 'yyyy/MM/dd HH:mm:ss')}"/></div>
                   <form th:action="@{/commentEdit/{id}(id=${comment.id})}">
                       <input type="submit" value="編集">
                   </form>
                </div>
                <div class="delete-button">
                    <form th:action="@{/commentDelete/{id}(id=${comment.id})}" th:method="delete">
                        <input type="submit" value="削除">
                    </form>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>
